<% form_id = SecureRandom.uuid %>

<script>
 $(function () {
   var form = $('#<%= form_id %>');
   form.find('select').on('change', function () {
     form.submit();
   });
 });

 function sendMessageToEtherpad(message, args) {
   var etherpadDomain = "<%= ENV['ETHERPAD_URL'] %>"; 
   var message = JSON.stringify({method: message, args: args}); 
   $("#epframeetherpad")[0].contentWindow.postMessage(message, etherpadDomain);
 }

 function addImageInEtherpad(imageUrl) {
   sendMessageToEtherpad('addImage', imageUrl);
 }

 function showProgressBarInEtherpad() {
   sendMessageToEtherpad('show_progress_bar', null);
 }

 function hideProgressBarInEtherpad() {
   sendMessageToEtherpad('hide_progress_bar', null);
 }

 function addMCResultToPad() {
   var node = $('#mc_result_frequency_small_table');
   if (!node || !node.is(":visible")) {
     node = $('#mc_result_frequency_large_table');
   }

   if (node && node.is(":visible")) node = node[0];
   else return;

   showProgressBarInEtherpad();

   domtoimage.toPng(node)
   .then(function (dataUrl) { 
     addImageInEtherpad(dataUrl);
     hideProgressBarInEtherpad();
   })
   .catch(function (error) { 
     console.error("oops, something went wrong!", error); 
   });
 }

</script>

<div class="well">
  <div class="clearfix flex flex-wrap flex-align-center spacing-v">
    <div><strong>Frequency</strong></div>
    <div class="dropdown dropdown-media-frequency">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <% for name, index in presenter.frequency_options %>
          <li><%= link_to "Download #{name} data CSV", project_query_path(project, query, filter: { frequency: index }, format: :csv) %></li>
        <% end %>
        <li><%= link_to "Add to pad", '#', onClick: 'javascript:addMCResultToPad();' %></li>
      </ul>
    </div>
  </div>


  <% if presenter.query_params.length > 1 %>
    <%= form_tag project_query_path(project, query), method: :get, class: 'form-inline', id: form_id, remote: true do %>
      <table class="table frequency-table margin-reset spacing-v">
        <tbody>
          <tr>
            <td>
              <div class="form-group">
                <%= select_tag 'filter[frequency][]', options_for_select(presenter.frequency_options, presenter.frequency_indices.first), class: 'form-control' %>
              </div>
            </td>

            <td></td>

            <td>
              <div class="form-group">
                <%= select_tag 'filter[frequency][]', options_for_select(presenter.frequency_options, presenter.frequency_indices.last), class: 'form-control' %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
  <% end %>

<% if defined?(large_window) && large_window %>
  <table class="table frequency-table frequency-table-stacked margin-reset" id="mc_result_frequency_large_table">
<% else %>
  <table class="table frequency-table frequency-table-stacked margin-reset" id="mc_result_frequency_small_table">
<% end %>
    <tbody>
      <tr>
        <td>
          <center style="color: #<%= presenter.frequency_params.first.color %>">
            <%= presenter.frequency_params.first.name %>
          </center>
        </td>
        <% if presenter.query_params.length > 1 %>
          <td>
            <center>both</center>
          </td>
          <td>
            <center style="color: #<%= presenter.frequency_params.last.color %>">
              <%= presenter.frequency_params.last.name %>
            </center>
          </td>
        <% end %>
      </tr>
      <tr>
        <td style="color: #<%= presenter.frequency_params.first.color %>">
          <% for term in presenter.frequency_terms[0][slice] do %>
            <span style="font-size: <%= 12 + term.count %>px">
              <%= term.value %>
            </span>
          <% end %>
          <% if defined?(ellipsis) && ellipsis %>
            ...
          <% end %>
        </td>
        <% if presenter.query_params.length > 1 %>
          <td>
            <% for term in presenter.frequency_terms[1][slice] do %>
              <span style="font-size: <%= 12 + term.count %>px">
                <%= term.value %>
              </span>
            <% end %>
            <% if defined?(ellipsis) && ellipsis %>
              ...
            <% end %>
          </td>
          <td style="color: #<%= presenter.frequency_params.last.color %>">
            <% for term in presenter.frequency_terms[2][slice] do %>
              <span style="font-size: <%= 12 + term.count %>px">
                <%= term.value %>
              </span>
            <% end %>
            <% if defined?(ellipsis) && ellipsis %>
              ...
            <% end %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
