<%= render 'show', checklist: @checklist %>
<%= form_tag(upload_translation_admin_checklist_path(id: @checklist.id), method: :post, multipart: true) do %>
  <label>Checklist Name: <%= @checklist.name_eng %></label>
  <p/>
  <label for="language">Select Language</label> <%= select_tag :language, options_for_select(available_languages_san_en) %>
  <p/>
  <label for="name">Checklist Name (localized) : </label><%= text_field_tag :name, @checklist.name, { placeholder: 'Localized Checklist name' } %>
  <p/>
  <%= file_field_tag "file" %>
  <%= submit_tag 'Upload Translation' %>
<% end %>