<div class="flex flex-wrap spacing-2-v">
  <h2 class="h4 margin-reset"><%= t('tools.media_cloud.heading') %></h2>
  <ul class="list-unstyled clearfix list-mc-searches">
    <li class="pull-right font-size-sm">
      <%= link_to t('tools.media_cloud.saved_searches'), project_queries_path(project), class: '', remote: true %>
      <span>|</span>
      <a href="https://explorer.mediacloud.org" target="_blank">
        <%= image_tag 'logos/mm-logo.png', alt: '', width: '32' %>
        <span class="fa fa-external-link"></span>
      </a>
    </li>
  </ul>
</div>

<%= form_for [project, @query], remote: true do |f| %>
  <%= render 'shared/errors', errors: @query.errors %>

  <%= f.label :media_cloud_url, t('tools.media_cloud.query_term') %>
  <div class="form-group flex row-sm flex-align-center">
    <div class="gutter-sm flex-1">
      <%= f.text_field :term, placeholder: 'e.g. https://explorer.mediacloud.org/...', class: 'form-control' %>
    </div>
    <div class="gutter-sm">
      <button class="btn btn-primary">
        <i class="glyphicon glyphicon-refresh spinning hide"></i>
        <span class="text"><%= t('tools.media_cloud.submit') %></span>
      </button>
    </div>
  </div>
<% end %>

<div class="well">
  <p>
    <%= raw t('tools.media_cloud.instructions') %>
  </p>
</div>
